---
const { title, url, blog, description, date, tags } = Astro.props;
---

<!-- TODO: come up with a better way to do this that has way less repitition -->
  <article class="card">
    {!blog ? (
      <a href={url} class="link" target="_blank" rel="noreferrer" title={title}>
        <h3 class="title">
          {title}
          <p class="url">{url}</p>
        </h3>
        <p class="description">{description}</p>
        <p class="tags">
          {tags.map((tag) => {
            return (
              <span class="tag">{tag}</span>
            )
          })}
        </p>
      </a>
    ) : (
      <h3 class="title">
        <a href={url} class="title-link">{title}</a>
        <p class="date">{date}</p>
      </h3>
      <p class="description">
        {description}...&nbsp;
        <a href={url}>
          continue reading
        </a>
      </p>
      <p class="tags">
        {tags.map((tag) => {
          return (
            <span class="tag">{tag}</span>
          )
        })}
      </p>
    )}
  </article>

<style>
  .card {
    display: grid;
    padding: 1rem;
    background: var(--background-contrast-color);
    transition: all .1s;
    position: relative;
  }
  .card::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 20px solid var(--theme-color-2a);
    border-top: 20px solid var(--theme-color-1);
    border-left: 20px solid var(--theme-color-2a);
    border-right: 20px solid var(--theme-color-1);
  }
  .link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  .title {
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid var(--background-color);
    width: calc(100% - 30px);
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    transition: all 1s;
    position: relative;
  }
  .title-link {
    text-decoration: none;
  }
  .title-link:hover {
    text-decoration: underline;
  }
  .url,
  .date {
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    margin-top: .5rem;
  }
  .link:hover .url {
    text-decoration: underline;
  }
  .description {
    font-size: var(--fontSize-secondary);
    flex: 1 1 100%;
  }
  .tags {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: .5rem;
    font-weight: normal;
    font-size: 12px;
    margin-top: 1rem;
  }
  .tag {
    white-space: nowrap;
    background-color: var(--background-color);
    padding: .25rem .5rem;
    border-radius: 10px;
    font-size: 12px;
  }
  /* .tag:not(:first-child) {
    margin-left: .3rem;
  } */
</style>