---
const { title, url, link, blog, description, date, tags } = Astro.props;
---

<!-- TODO: come up with a better way to do this that has way less repitition -->
  <article class="card">
    {!blog ? (
      <div class="banana">
        <h3 class="title">
          <a href={link} class="link">{title}</a>
        </h3>
        <p class="url"><a href={url} class="link" target="_blank" rel="noreferrer" title={title}>{url}</a></p>
      </div>
      <p class="description">{description}</p>
      <p class="tags">
        {tags.map((tag) => {
          return (
            <span class="tag">{tag}</span>
          )
        })}
      </p>
    ) : (
      <div class="banana">
        <h3 class="title">
          <a href={url} class="link">{title}</a>
        </h3>
        <p class="date">{date}</p>
      </div>
      <p class="description">
        {description}...&nbsp;
        <a href={url}>
          read on &rarr;
        </a>
      </p>
      <p class="tags">
        {tags.map((tag) => {
          return (
            <span class="tag">{tag}</span>
          )
        })}
      </p>
    )}
  </article>

<style>
  .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    background: var(--background-contrast-color);
    transition: all .1s;
    position: relative;
  }
  .card::before {
    content: "";
    position: absolute;
    right: 0;
    border-style: solid;
    border-width: 20px;
    border-bottom-color: var(--theme-color-2a);
    border-top-color: var(--theme-color-1);
    border-left-color: var(--theme-color-2a);
    border-right-color: var(--theme-color-1);
  }
  .title {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
  }
  .banana {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 5px solid var(--background-color);

  }
  .url,
  .date {
    margin-top: .5rem;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
  }
  .link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .link:hover,
  .link:hover .url {
    text-decoration: underline;
  }
  .description {
    flex: 1 1 100%;
    font-size: 1rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: .5rem;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 12px;
  }
  .tag {
    padding: .25rem .5rem;
    border-radius: 10px;
    background-color: var(--background-color);
    font-size: 12px;
    white-space: nowrap;
  }
</style>