---
const { title, url, link, blog, description, date, tags } = Astro.props;
---

<article class="card">
  <div class="header">
    <h3 class="title">
      <a href={blog ? url : link} class="link">{title}</a>
    </h3>
    {blog ?
      <p class="date">{date}</p>
      :
      <p class="url"><a href={url} class="link" target="_blank" rel="noreferrer" title={title}>{url}</a><span class="material-symbols-outlined">open_in_new</span></p>
    }
  </div>
  <p class="description">
    {blog ?
      <>
        {description}... &nbsp;
        <a class="readon" href={url}>
          read on &rarr;
        </a>
      </>
    :
      description
    }
  </p>
  <p class="tags">
    {tags.map((tag) => {
      return (
        <span class="tag">{tag}</span>
      )
    })}
  </p>
</article>

<style>
  .card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    background: var(--background-contrast-color);
    transition: all .1s;
    position: relative;
  }
  .card::before {
    content: "";
    position: absolute;
    right: 0;
    border-style: solid;
    border-width: 20px;
    border-bottom-color: var(--theme-color-2a);
    border-top-color: var(--theme-color-1);
    border-left-color: var(--theme-color-2a);
    border-right-color: var(--theme-color-1);
  }
  .header {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 5px solid var(--background-color);
  }
  .title {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
  }
  .url,
  .date {
    margin-top: .5rem;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: .25rem;
  }
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-size: 1rem;
  }
  .link {
    text-decoration: none;
  }
  .link:hover,
  .link:hover .url {
    text-decoration: underline;
  }
  .description {
    flex: 1 1 100%;
    font-size: 1rem;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: .5rem;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 12px;
  }
  .tag {
    padding: .25rem .5rem;
    border-radius: 10px;
    background-color: var(--background-color);
    font-size: 12px;
    white-space: nowrap;
  }
  .readon {
    white-space: nowrap;
  }
</style>