---
const currentPath = Astro.url.pathname;
const { title } = Astro.props;
---
<nav>
  {currentPath === '/' ? (
    <span class="link wrapper">
      <span class="link inactive">Ahoy</span>
    </span>
  ) : (
    <span class="link wrapper">
      <a href="/" class="link active" rel="noopener noreferrer" title={title}>Ahoy</a>
    </span>
  )}
  {currentPath.startsWith('/projects/') ? (
    <span class="link wrapper">
      <span class="link inactive">Projects</span>
    </span>
  ) : (
    <span class="link wrapper">
      <a href="/projects/" class="link active" rel="noopener noreferrer" title={title}>Projects</a>
    </span>
  )}
  {currentPath.startsWith('/blog/') ? (
    <span class="link wrapper">
      <span class="link inactive">Blog</span>
    </span>
  ) : (
    <span class="link wrapper">
      <a href="/blog/" class="link active" rel="noopener noreferrer" title={title}>Blog</a>
    </span>
  )}
  {currentPath.startsWith('/resume/') ? (
    <span class="link wrapper">
      <span class="link inactive">Resume</span>
    </span>
  ) : (
    <span class="link wrapper">
      <a href="/resume/" class="link active" rel="noopener noreferrer" title={title}>Resume</a>
    </span>
  )}
  <a href="https://github.com/wylie" class="link active gh" target="_blank" rel="noopener noreferrer" title={title}>GitHub<span class="material-symbols-outlined gh-icon">open_in_new</span></a>
</nav>
  
<style>
  nav {
    display: flex;
    border-bottom: 3px solid var(--border-color);
    align-items: center;
    justify-content: space-between;
  }
  .link {
    padding: .5rem .25rem;
  }
  .inactive {
    text-decoration: none;
  }
  a.active,
  a:hover {
    /* text-decoration: underline; */
    font-weight: bold;
  }
  .link.gh {
    display: flex;
    gap: .25rem;
    align-items: center;
    text-decoration: none;
    position: relative;
  }
  .link.gh::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 4px;
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
  }
  .gh-icon {
    font-size: 14px;
  }
  @media (min-width: 450px) {
    nav {
      justify-content: left;
    }
    .link {
      padding: .5rem;
    }
  }
</style>