---
const currentPath = Astro.url.pathname;
const { title } = Astro.props;
---
<nav>
  {currentPath === '/' ? (
    <span class="link inactive">Ahoy</span>
  ) : (
    <a href="/" class="link active" rel="noopener noreferrer" title={title}>Ahoy</a>
  )}
  {currentPath.startsWith('/projects/') ? (
    <span class="link inactive">Projects</span>
  ) : (
    <a href="/projects/" class="link active" rel="noopener noreferrer" title={title}>Projects</a>
  )}
  {currentPath.startsWith('/blog/') ? (
    <span class="link inactive">Blog</span>
  ) : (
    <a href="/blog/" class="link active" rel="noopener noreferrer" title={title}>Blog</a>
  )}
  {currentPath.startsWith('/resume/') ? (
    <span class="link inactive">Resume</span>
  ) : (
    <a href="/resume/" class="link active" rel="noopener noreferrer" title={title}>Resume</a>
  )}
  <a href="https://github.com/wylie" class="link active gh" target="_blank" rel="noopener noreferrer" title={title}>GitHub</a>
</nav>
  
<style>
  nav {
    display: flex;
    border-bottom: 3px solid var(--border-color);
    align-items: center;
    justify-content: space-between;
  }
  .link {
    padding: .5rem .25rem;
    cursor: default;
    text-decoration: none;
  }
  .link.active {
    cursor: pointer;
    font-weight: bold;
  }
  .link.active:hover {
    text-decoration: underline;
  }
  @media (min-width: 450px) {
    nav {
      justify-content: left;
    }
    .link {
      padding: .5rem;
    }
  }
</style>